/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: November 3, 2022
   Description: CSS Stylesheet for Tic Tac Toe project.
******************************************************************************/
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 30px 0 30px 0;
}

#game-container {
  min-width: 305px;
  max-width: 305px
}

.cube {
  min-width: 100px;
  min-height: 100px;
}

.cube1, .cube2, .cube4, .cube5, .cube7, .cube8 {
  border-right: solid 4px black;
}

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6 {
  border-bottom: solid 4px black;
}

.game-button-container {
  margin-top: 30px;
}