/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: November 3, 2022
   Description: CSS Stylesheet for Tic Tac Toe project.
******************************************************************************/